<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="downPath" value="D:\\"/>
    <add key="errorTryCount" value="4"/>
    <add key="sleepMilliseconds" value="3000"/>

    <!--德州整体平台-->
    <add key="baseUrl" value="http://20.1.1.124:9000/sdcsm/"/>
    <!--<add key="baseUrl" value="http://10.61.64.53:9081/sdcsm_new/"/>-->
    <!--<add key="baseUrl" value="http://112.6.122.71:9174/sdcsm/"/>-->
    <!--<add key="baseUrl" value="http://112.6.122.71:9171/sdcsm/"/>-->
    <!--<add key="baseUrl" value="http://10.61.64.93:9081/sdcsm_new/"/>-->
    <!--<add key="baseUrl" value="http://20.1.1.78:9081/sdcsm/"/>-->
    <!--<add key="baseUrl" value="http://20.1.1.73:9081/sdcsm/"/>-->

    <add key="uploadZybj" value="1"/>
    <add key="isDelayed" value="1"/>
    <add key="sleeptime" value="120"/>
    <add key="isCutString" value="0"/>
    <!--<add key="SocketUrl" value="117.78.6.212"/>
    <add key="SocketPort" value="50032"/>-->
    <add key="SocketUrl" value="139.9.117.8"/>
    <add key="SocketPort" value="50224"/>
    <add key="isUpdate" value="1"/>
    <add key="UpdateHzsfz" value="1"/>
    <add key="CreateTimeSameTj" value=""/>
    <!--<add key="zybsqm" value="张清春"/>
    <add key="zlnlqm" value="许胜男"/>-->
    <add key="SignPath" value="D:\QCSoft\禹城版本\DebugYuCheng\DebugYuCheng\Sign"/>
    <!--<add key="Bchao" value="D:\\QCSoft\\TypeB"/>
    <add key="Xindian" value="D:\\QCSoft\\ECGPDF\\outFile"/>-->
    <add key="Bchao" value="D:\QCSoft\禹城版本\DebugYuCheng\DebugYuCheng\TypeB"/>
    <add key="Xindian" value="D:\QCSoft\禹城版本\DebugYuCheng\DebugYuCheng\ECGPDF\outFile"/>
    <!--德州-->
    <!--<add key="qzUrl" value="http://20.1.1.85:9000/XfireWebService/services/Login"/>
    <add key="qzkey" value="e840e2c76fa441a5bbefc610e9b24b88"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--禹城-->
    <add key="qzUrl" value="http://20.1.1.85:9000/XfireWebService/services/Login"/>
    <add key="qzkey" value="e840e2c76fa441a5bbefc610e9b24b88"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>
    <!--庆云-->
    <!--<add key="qzUrl" value="http://20.1.1.85:9000/XfireWebService/services/Login"/>
    <add key="qzkey" value="99d723bd7ab845ccb6c3b35b41d1a0d7"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--德城-->
    <!--<add key="qzUrl" value="http://20.1.1.85:8111/XfireWebService/services/Login"/>
    <add key="qzkey" value="b630da3be7d8489d9f92870104f23c1c"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--平原-->
    <!--<add key="qzUrl" value="http://20.1.1.85:8113/XfireWebService/services/Login"/>
    <add key="qzkey" value="766a661129f94c85bf16df00c7cec2ab"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--临邑-->
    <!--<add key="qzUrl" value="http://20.1.1.85:8112/XfireWebService/services/Login"/>
    <add key="qzkey" value="456b2cb2a9754306ad30dbfaec1ab181"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--乐陵-->
    <!--<add key="qzUrl" value="http://20.1.1.85:8107/XfireWebService/services/Login"/>
    <add key="qzkey" value="a5e254c351514748a79bd5ff329de7ef"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--齐河-->
    <!--<add key="qzUrl" value="http://20.1.1.85:8110/XfireWebService/services/Login"/>
    <add key="qzkey" value="6d62c125521e4dd7bc4fc99bcaab3cb7"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
    <!--陵城-->
    <!--<add key="qzUrl" value="http://20.1.1.85:8122/XfireWebService/services/Login"/>
    <add key="qzkey" value="172a373c41c3434f99b52eeaaa297ed6"/>
    <add key="qzOperate" value="63564ad662f049fab7e07067e711c3fc"/>-->
  </appSettings>
  <connectionStrings>

    <add name="DBConnectionString" connectionString="Server=localhost;Database=kangshuo_db;Uid=root;Pwd=qckj;Connection Timeout=100;port=3306"
      providerName="MySql.Data.MySqlClient" />
    <!--<add name="DBConnectionString" connectionString="Server=124.128.220.82;Database=qcpaddb;Uid=root;Pwd=qckj;Connection Timeout=100;port=3306"
      providerName="MySql.Data.MySqlClient" />-->

  </connectionStrings>
</configuration>
